.container{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 200px;
  
}
.heading{
    text-decoration:underline;
}

#box{
    background: white;
    padding: 40px 200px 40px 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}