
  #content-1{
    font-size: 50px;
    font-weight: 500;
    margin-top:50px;
    font-family: 'Satisfy', cursive;
  }
  #sign-up{
    padding: 10px;
    margin-left: 150px;
  }

  #content1-container{
    margin-top: 60px;
  }
  
 
 


 
 

 

  
 