.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heading{
   margin-left: 180px;
}